;; This is the Setup.ini for Dell X8 project.
;; This Setup.ini can be a boilerplate for other project, which wants to use this kind of Setup.ini.

; To make the parser easier, spaces or TABs must not be inserted before or after `=' and `,'

[metadata]
; Current version is 2.0
; If this field is not presented, major_version is set to 1 defaultly.
; Version 1.x is used in old Setup.ini for backward compatibility.
major_version=2
minor_version=0

; Begin bus sections
[bus]
; `bus' section, List all supported bus type here, comma separated
; Every supported bus type should have a corresponding sub-section
support_types=PS2,I2C,PS2W7,I2CW7

[PS2]
;; This is a sub-section of `bus' section, all below 8 fields are mandatory required now
; x86_support_win10
; x86_support_win81
; x86_support_win8
; x86_support_win7

; x64_support_win10
; x64_support_win81
; x64_support_win8
; x64_support_win7

;; syntax: os=supported,config_section,mup,mup_folder
;   supported(yes/no): indicate if os is supported
;       if setting `no', below three fields should be omitted
;   configuration_section: configuration section name, a corresponding configuration section is required
;   use_mup_folder(yes/no): if using unique mup folder for `EXTRACTDRIVERS' option
;   mup_folder(required when use_mup_folder=yes): the mup folder name
x86_support_win10=yes,PS2x86,yes,PS2x86
x86_support_win81=yes,PS2x86,yes,PS2x86
x86_support_win8=no
x86_support_win7=no

x64_support_win10=yes,PS2x64,yes,PS2x64
x64_support_win81=yes,PS2x64,yes,PS2x64
x64_support_win8=no
x64_support_win7=no


[PS2W7]
x86_support_win10=no
x86_support_win81=no
x86_support_win8=no
x86_support_win7=yes,PS2W7x86,yes,PS2W7x86

x64_support_win10=no
x64_support_win81=no
x64_support_win8=no
x64_support_win7=yes,PS2W7x64,yes,PS2W7x64

[I2C]
x86_support_win10=no
x86_support_win81=no
x86_support_win8=no
x86_support_win7=no

x64_support_win10=yes,I2Cx64,yes,I2Cx64
x64_support_win81=yes,I2Cx64,yes,I2Cx64
x64_support_win8=no
x64_support_win7=no

[I2CW7]
x86_support_win10=no
x86_support_win81=no
x86_support_win8=no
x86_support_win7=yes,I2CW7x86,yes,I2CW7x86

x64_support_win10=no
x64_support_win81=no
x64_support_win8=no
x64_support_win7=yes,I2CW7x64,yes,I2CW7x64

; End bus sections


; Begin Configuration sections


[I2Cx64]
; Below four lines are for backward comptibility
Path=".\I2Cx64\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 63

; Indicate sub-folder name, which should be same to one in above `Path'
subfolder=I2Cx64
; main inf is used for searching supported PNPIDs 
main_inf=ApHidFiltr.inf

[I2CW7x86]
; Below four lines are for backward comptibility
Path=".\I2CW7x86\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 63

; Indicate sub-folder name, which should be same to one in above `Path'
subfolder=I2CW7x86
; main inf is used for searching supported PNPIDs 
main_inf=ApHidFiltr.inf

[I2CW7x64]
; Below four lines are for backward comptibility
Path=".\I2CW7x64\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 63

; Indicate sub-folder name, which should be same to one in above `Path'
subfolder=I2CW7x64
; main inf is used for searching supported PNPIDs 
main_inf=ApHidFiltr.inf

[PS2x86]
Path=".\PS2x86\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 31

subfolder=PS2x86
main_inf=Apfiltr.inf

[PS2x64]
Path=".\PS2x64\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 31

subfolder=PS2x64
main_inf=Apfiltr.inf

[PS2W7x86]
Path=".\PS2W7x86\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 31

subfolder=PS2W7x86
main_inf=Apfiltr.inf

[PS2W7x64]
Path=".\PS2W7x64\DPInst.exe"
Default=""
Silent= " /f /sw /se"
Support = 31

subfolder=PS2W7x64
main_inf=Apfiltr.inf

; End Configuration sections


[SupportOS_Option]
; This field is for backward comptibility
OnlyWin7="[DLL0673]"
